*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,blue,red);
    padding: 10px;
}
.Groccery-app{
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.Groccery-app h2{
    color: green;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.Groccery-app h2 img{
    width: 30px;
    margin-left: 20px;
}
.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: aqua;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}

input{
    flex: 1;
    border: none;
    outline: none;
    background: aqua;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: orange;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;


}

ul li{
    list-style: none;
    font-size: 17px;
    padding:12px 8px 12px 50px ;
    padding-right: 110px; /* room for edit/remove buttons */
    user-select: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image:url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}



ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li.checked .item-text{
    text-decoration: line-through;
    color: #555;
}

ul li .item-text{
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

ul li .edit,
ul li .remove{
    position: absolute;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #555 ;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

ul li .remove{
    right: 0;
}

ul li .edit{
    right: 48px;
}

ul li .edit:hover,
ul li .remove:hover{
    background: #eee;
}

